.logo {
    width: 120px;
    height: 31px;
    background:url('http://img3.imgtn.bdimg.com/it/u=193212363,371293188&fm=26&gp=0.jpg');
    margin: 16px 28px 16px 0;
    float: left;
    background-size:cover;
}

.test{
    color:red
}