<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.js"></script>
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        ul {
            list-style: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for='(item,index) in arr'>{{index}}city:{{item}}</li>
        </ul>
        <h2 v-for='item in obj'>{{item.name}}</h2>
        <button @click='add'>add</button>
        <button @click='reduce'>reduce</button>
        <input type="text" v-model='message' @keyup.enter='getmessage'>
        <h2>{{message}}</h2>
        <ul>
            <li v-for='(value,name) in lists'>
                {{name}}:{{value}}
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                arr: ['xian', 'beijing', 'shanghai', 'shenzhen'],
                obj: [{
                    name: "zhangsan"
                }, {
                    name: "lisi"
                }],
                message: 'how are you',
                lists: {
                    id: 1,
                    name: 'liming',
                    data: '2019-12-15'
                }

            },
            methods: {
                add: function() {
                    this.obj.push({
                        name: 'like'
                    });
                },
                reduce: function() {
                    this.obj.shift();
                },
                getmessage: function() {
                    alert(this.message)
                }
            }

        })
    </script>
</body>